* {
  margin: 0;
  box-sizing: border-box;
  transition: 0.4s;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

:root {
  --blue: #414f6b;
  --lightDark: #4d4d4d;
  --ash: #9fa7b5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

body {
  width: 100%;
}

header {
  width: 100%;
}

nav {
  height: 1.5cm;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.logo {
  height: 1.2cm;
  width: 1.2cm;
  border-radius: 50%;
  border: 2px solid rgb(189, 189, 189);
}

footer {
  background-color: var(--blue);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

footer a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.767);
  opacity: 0.3;
}

footer a img {
  height: 1cm;
  width: 1cm;
  border-radius: 0.5cm;
  border: 1px solid var(--lightDark);
}

footer a p span {
  text-transform: uppercase;
  font-weight: 600;
}

footer p {
  text-transform: uppercase;
  color: white;
  opacity: 0.2;
}

.nav-links {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 20px;
  z-index: 99;
}

.nav-links > li a {
  color: var(--lightDark);
  text-transform: uppercase;
  text-decoration: underline;
}

#hero-section {
  width: 100%;
  margin-top: -1.5cm;
  padding: 15rem 10px 15rem 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/hero.png");
  background-size: cover;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}

h1 span:first-child {
  color: var(--lightDark);
}

h1 span:last-child {
  color: var(--blue);
}

.sticky-nav {
  top: 0;
  position: sticky;
  background-color: white;
}

.sticky-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-decoration: none;
}

.sticky-links img {
  height: 1cm;
  width: 1cm;
  border-radius: 0.5cm;
  border: 1px solid var(--lightDark);
}

.sticky-links p span {
  text-transform: uppercase;
  font-weight: 600;
}

.sticky-links p span:first-child {
  color: var(--lightDark);
}

.sticky-links p span:last-child {
  color: var(--blue);
}

#history {
  width: 100%;
  background-image: url("./assets/images/peak.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 2rem 0;
}

.intro {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.title p {
  font-size: 5rem;
  font-weight: 700;
  color: var(--lightDark);
  padding: 0;
}

.title .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title .text h2 {
  color: var(--blue);
  text-transform: uppercase;
  font-weight: 800;
}

.dot {
  height: 0.5cm;
  width: 0.5cm;
  background-color: var(--lightDark);
}

.intro-p {
  color: var(--lightDark);
  padding: 5px 5px;
  font-size: 20px;
}

.carousel {
  width: 100%;
  margin-top: 4rem;
}

.carousel-container {
  background-color: #414f6b75;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
}

.carousel-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.carousel-item {
  width: 6cm;
  height: 3cm;
  background-color: white;
  display: inline-block;
}

.carousel-item:nth-child(even) {
  background-image: url("./assets/images/carousel-odd.png");
  background-size: cover;
}

.carousel-item:nth-child(odd) {
  background-image: url("./assets/images/carousel-even.png");
  background-size: cover;
}

.carousel-indicators {
  width: 100%;
  padding: 10px;
  background-color: #414f6b75;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel-dot {
  height: 0.2cm;
  width: 0.2cm;
  background-color: white;
  border-radius: 50%;
}

#team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;
}

.team-intro {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  padding-left: 20px;
}

.team-title {
  padding: 0 10px;
}

.mountains {
  width: 100%;
}

.mountain {
  width: 100%;
  background-size: cover;
}

.mountain:first-child {
  background-image: url("./assets/images/mountain-1.png");
}

.mountain:last-child {
  background-image: url("./assets/images/mountain-2.png");
}

.mountain.active .tab-moble i {
  transform: rotateZ(180deg);
}

.tab-moble {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
  padding: 10px;
  color: white;
}

.tab-content {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  height: 0;
  overflow: hidden;
}

.mountain.active .tab-content {
  height: 20rem;
}

.schedule-box {
  margin-top: 3rem;
  width: 95%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.616);
}

.schedule-box h3 {
  text-transform: uppercase;
  font-size: larger;
  color: var(--blue);
}

.schedule-box > div {
  margin-top: 10px;
  color: var(--blue);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.schedule-box > div p {
  text-align: right;
}

.desk-tab-bar {
  display: none;
}

.humbergur {
  display: none;
}

.close-btn {
  display: none;
}

@media screen and (max-width: 400px) {
  .sticky-nav .nav-links {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background-color: var(--blue);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 99;
  }

  .nav-links.active {
    display: flex;
    z-index: 99;
  }

  .nav-links li {
    color: var(--ash);
  }

  .close-btn {
    position: absolute;
    display: flex;
    top: 3rem;
    right: 3rem;
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.404);
    padding: 5px 10px;
  }

  .humbergur {
    display: block;
    font-size: 24px;
  }
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 60px;
  }

  .intro {
    width: 70%;
  }

  .team-intro {
    width: 70%;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
  }

  .team-title {
    padding: 0 10px;
    grid-column: span 1;
  }

  .intro-p {
    grid-column: span 5;
    padding: 5px 5rem;
    vertical-align: middle;
  }

  .tab-moble {
    display: none;
  }

  .tab-content {
    padding-left: 10rem;
  }

  .mountain {
    display: none;
  }

  .mountain.active-desk {
    display: flex;
  }

  .mountain.active-desk .tab-content {
    height: 30rem;
  }

  .desk-tab-bar {
    display: flex;
    height: 1cm;
    width: 100%;
    background-color: var(--blue);
    padding-left: 5rem;
    gap: 1.5rem;
  }

  .desk-tab {
    padding: 0 5px;
    background-color: var(--blue);
    height: 100%;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: var(--ash);
    cursor: pointer;
  }

  .desk-tab.active {
    color: var(--blue);
    height: 100%;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    background-color: var(--ash);
    text-decoration: underline;
  }

  .schedule-box {
    width: 10cm;
  }
}
